.search-results-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.search-results-list {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: 1em 40vw 1em 2em;
  line-height: 1em;
}
