.app-header {
  --icon-width: 40px;
}

.app-header {
  position: relative;
  flex: 0;
  background: var(--app-header-color);
  color: var(--app-header-text-color);
  height: 80px;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-header-search {
  display: flex;
  align-items: center;
  margin-top: 1em;
  flex: 1;
}

.app-header-search .svg-icon {
  width: var(--icon-width);
  /* margin-right: calc(0 - var(--icon-width)); */
  margin-right: -30px;
  opacity: 0.75;
}

.app-header-search input[type='text'] {
  border: none;
  border-radius: 0;
  color: white;
  padding-left: var(--icon-width);
  padding-bottom: 0.5em;
  position: relative;
  margin: 0;
}

.app-header-search input[type='text']::placeholder {
  color: var(--app-header-text-placeholder-color);
}

.search-box {
  flex: 1;
  display: flex;
}

.settings-toggler {
  margin: 0 20px 0 -40px;
  padding: 0 10px 0 40px;
  height: 50px;
  margin-top: -10px;
  background: none;
  position: relative;
}

.settings-toggler img {
  width: 30px;
}

.menu-icon {
  position: absolute;
  left: 10px;
  opacity: 0.5;
  pointer-events: none;
  margin-top: 15px;
  transition: all 0.4s ease;
}

.menu-icon > div {
  width: 8px;
  height: 3px;
  background: var(--app-header-text-color);
  margin-bottom: 6px;
  pointer-events: none;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.settings-toggler:hover .menu-icon {
  opacity: 1;
}

.settings-toggler:hover .menu-icon > div:nth-child(2n + 1) {
  width: 12px;
}
