.app-header {
  --icon-width: 40px;
}

.app-header {
  flex: 0;
  background: var(--app-header-color);
  color: var(--app-header-text-color);
  height: 80px;
  padding: 1em 2em;
  display: flex;
  align-items: center;
}

.app-header-search {
  display: flex;
  align-items: center;
  margin-top: 1em;
  flex: 1;
}

.app-header-search .svg-icon {
  width: var(--icon-width);
  /* margin-right: calc(0 - var(--icon-width)); */
  margin-right: -30px;
  opacity: 0.75;
}

.app-header-search input[type='text'] {
  border: none;
  border-radius: 0;
  color: white;
  padding-left: var(--icon-width);
  padding-bottom: 0.5em;
  position: relative;
  margin: 0;
}

.app-header-search input[type='text']::placeholder {
  color: var(--app-header-text-placeholder-color);
}

.search-box {
  flex: 1;
  display: flex;
}

.settings-toggler {
  padding: 0.5em;
  width: 40px;
  margin-right: 20px;
  background: none;
  border-color: rgba(255, 255, 255, 0.1);
}
