@import '../../../node_modules/normalize.css/normalize.css';
@import './milligram.css';
@import './fonts.css';

/* mono-space: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace; */

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  background-color: var(--body-bg-color);
  color: var(--main-color);
  cursor: default;
}

body [data-platform="win32"],
body [data-platform="win32"] h1,
body [data-platform="win32"] h2,
body [data-platform="win32"] h3,
body [data-platform="win32"] h4,
body [data-platform="win32"] h5,
body [data-platform="win32"] h6 {
  font-weight: 400;
}

input {
  font-size: 2em;
  font-weight: 200;
}

body [data-platform="win32"] input {
  font-weight: 300;
}

input::placeholder {
  /* color: rgba(255, 255, 255, 0.5); */
}

/**
 * highlight all unwrapped links with red color
 * so it can be seen. There are shouldn't be unwrapped links
 */
a:not(.browser-link) {
  color: tomato;
  font-weight: bold;
  background: lime;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0.25em 0em;
}
