@import './colors.css';

:root {
  /* global colors */
  --body-bg-color: var(--white-color);
  --main-color: var(--gray-900);
  --border-color: var(--gray-800);
  --bg-color: var(--blue-100);
  --link-color: var(--blue-400);
  --link-color-hover: var(--blue-500);

  /* header */
  --app-header-color: var(--gray-900);
  --app-header-text-color: var(--gray-400);
  --app-header-text-placeholder-color: var(--gray-600);

  /* result list */
  --result-list-color: var(--gray-600);
  --result-list-active-color: var(--gray-700);

  /* settings */
  --settings-nav-icon-icon: var(--primary-color);
}
