.settings-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.settings-menu-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  line-height: 1em;
  transition: opacity 0.2s ease;
}

.settings-menu-item:hover {
  opacity: 1 !important;
}

.settings-menu-item small {
  font-size: 10px;
  opacity: 0.75;
}

.settings-menu-item[data-active='true'] {
  opacity: 1;
  color: var(--settings-nav-icon-icon);
}

.settings-menu-item[data-active='false'] {
}
