.search-results-wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.search-results-list {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: 4em 10vw 1em 4em;
  line-height: 1em;
  width: 100vw;
}

.result-count {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5em 5em;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 1;
}
